.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the container takes up the full height of the viewport */
    background-image: url('https://images.pexels.com/photos/4033636/pexels-photo-4033636.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&dpr=1');
    background-size: cover;
    background-position: center;
  }
  
  @media only screen and (max-width: 600px) {
      .c-container {
        width: 90vw;
      }
    }