<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon fontIcon="menu_book"></mat-icon>
    </div>
    <mat-card-title>{{ data.title }}</mat-card-title>
    <mat-card-subtitle>{{ data.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h3 class="">Ingredients</h3>
      <p>{{ data.ingredients }}</p>
    </div>
    
    <div>
      <h3 class="">Instructions</h3>
      <p>
        {{ data.instructions }}
      </p>
    </div>
    
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/recipes/{{ data.id }}" color="primary">View</a>
  </mat-card-actions>
</mat-card>
