<div class="container mt-3">
  <mat-card class="card-container" *ngIf="!!recipe">
    <ng-container *ngIf="action === enumFormAction.none; else editRecipe">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </ng-container>
  </mat-card>

  <mat-card class="card-container" *ngIf="!recipe">
    <app-edit
      [action]="enumFormAction.create"
      (actionEmitter)="handleCancel($event)"
    ></app-edit>
  </mat-card>
</div>

<ng-template #contentTemplate>
  <ng-container>
    <mat-card-header>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>{{ recipe.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <h3 class="">Ingredients</h3>
        <p>{{ recipe.ingredients }}</p>
      </div>

      <div>
        <h3 class="">Instructions</h3>
        <p>
          {{ recipe.instructions }}
        </p>
      </div>
      <mat-divider *ngIf="isAuthor"></mat-divider>
    </mat-card-content>
    <mat-card-actions *ngIf="isAuthor">
      <button mat-button (click)="action = enumFormAction.update">Edit</button>
      <button mat-button (click)="delete()" color="warn">Delete</button>
    </mat-card-actions>
  </ng-container>
</ng-template>

<ng-template #editRecipe>
  <app-edit
    [recipe]="eRecipe"
    [action]="enumFormAction.update"
    (actionEmitter)="handleCancel($event)"
  ></app-edit>
</ng-template>
