<ng-container>
  <mat-card-header>
    <mat-card-title>Edit</mat-card-title>
  </mat-card-header>
  <form #recipeForm="ngForm" (ngSubmit)="onSubmit(recipeForm)">
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Title"
          [(ngModel)]="recipe.title"
          name="title"
        />
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Description"
          [(ngModel)]="recipe.description"
          name="description"
        ></textarea>
      </mat-form-field>

      <ng-container *ngFor="let item of recipe.ingredients; let i = index">
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="recipe.ingredients[i]"
            [name]="'item_' + i"
          />
        </mat-form-field>
      </ng-container>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Instructions"
          [(ngModel)]="recipe.instructions"
          name="instructions"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Save</button>
      <button mat-button type="button" (click)="cancel()">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</ng-container>
